.favorites {
  box-sizing: border-box;
  border: 1px solid rgba(0, 8, 7);
  padding: 30px 20px;
}

.favorites__name {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 8, 7, 0.5);
  margin-bottom: 24px;
}

.favorites__list {
  margin-bottom: 24px;
}

.favorites__list li {
  margin-bottom: 10px;
}

.favorites__save {
  border: none;
  background-color: #496ddb;
  padding: 10px 15px;
  color: #ffeedb;
  font-size: 14px;
  transition: all 0.2s linear;
}

.favorites__save:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.2s linear;
}
.remove-favorite-movie {
  margin-right: 10px;
  background-color: white;
  outline: none;
  border: 1px solid black;
}
.remove-favorite-movie:hover {
  background-color: #496ddb;
}

.mystyle{
  display: none;
}
