.list-page {
  padding: 0px calc(50% - 300px);
}

.list-page__title {
  font-size: 34px;
  margin: 26px 0;
  text-align: center;
}

.list-page ul li {
  padding: 20px;
  background-color: #ffeedb;
  display: flex;
}
.list-page__single-movie {
  font-size: 18px;
  margin-bottom: 30px;
  display: flex;
  box-sizing: border-box;
  padding: 20px;
}
.single-movie__poster {
  height: 150px;
  margin-right: 21px;
}

.list-page__link-imdb {
  padding: 5px;
  text-decoration: none;
  color: white;
}

.link-imdb {
  margin: 5px 0;
  display: block;
}

.list-page__details {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}
.list-page__details-title {
  width: 160px;
  font-size: 13px;
}

.movie-item__about {
  padding: 10px 0;
}

.list-page__details-value {
  font-size: 13px;
  width: 100%;
}

.link-to__list {
  text-decoration: none;
  color: white;
}
.movie-item__info-list {
  display: flex;
  list-style-type: none;
  padding: 10px 0 0 0;
}

#movie-item__info-item {
  padding: 0;
}

.info {
  width: 100%;
}
